/* Materia */
	.container {
	    width: 100%;
	}
	@media only screen and (min-width: 601px){
		.container {
		    width: 85%;
		}
	}
	@media only screen and (min-width: 993px){
		.container {
		    width: 70%;
		}
	}

/* MAIN */
	.fade-enter-active, .fade-leave-active {
		transition-property: opacity;
		transition-duration: .25s;
	}
	.fade-enter-active {
		transition-delay: .25s;
	}
	.fade-enter, .fade-leave-active {
		opacity: 0
	}
	.title{
		font-size: 4rem;
	}
	@media (max-width: 500px){
		.title{
			font-size: 2rem;
		}
	}
	.fab {
		font-size: 35px;
    }
	.transition-links{
		transition: all .5s;
	}
	.page-footer{
		background-color: #f8f8f8;
		padding-top: 0px;
	}
	.page-footer .colorText, .page-footer .links{
		color: #01434c;
	}
	.page-footer .links:hover{
		color: #00c7e2;
	}
	.list-icons{
		margin: 0 5px;
	    display: inline-block;
	}

	.btn{
		color: #00454e;
		border: solid #00454e 2px;
		background-color: #ffffff;
		border-radius: 10px;
		font-weight: bold;
	}
	.btn:hover{
		color: white;
		background-color: #00454e;
	}

/* Nav */
    nav{
    	background-color: #01434c;
    }
    .container-logo{
		display: flex;
    }
    .logo{
    	width: 120px;;
	    border-radius: 20px;
	    vertical-align: middle;
    }

/* Blog */
    .container-main-blogs{
    	background-color: #e5ebf0;
    }
    .blog{
    	background: #fff;
	    border-left: 1px solid #e6ecf0;
	    border-right: 1px solid #e6ecf0;
		border-bottom: 1px solid #e6ecf0;
	    background-clip: padding-box;
	    padding: 9px 12px;
		text-align: left;
    }
    .blog:hover {
	    background-color: #f5f8fa;
	}
    .back-white{
    	background-color: white;
    	border: 1px solid #e6ecf0;
	    border-radius: 5px;
	    margin-bottom: 8px;
    }
    .blog div{
    	color: black;
    }
    .header-blog, .body-blog{
    	position: relative;
    }
    .blog .title{
    	font-size: 2.92rem;
	    line-height: 110%;
	    margin: 1.9466666667rem 0 1.168rem 0;
	    word-break: break-all;
		word-wrap: break-word;
    }
    .blog .date, .blog .author{
    	display: inline-block;
	    position: absolute;
	    right: 0;
	    top: 0;
    }
    .blog .author{
    	font-style: italic;
    	color: gray;
    }
    .blog .content{
    	font-size: 1.40rem;
		word-break: break-all;
		word-wrap: break-word;
    }
    @media(max-width: 500px){
		.blog .date, .blog .author{
		    position: static;
		    text-align: right;
		    display: block;
	    }
	    .blog .title{
	    	font-size: 2.92rem;
		    line-height: 110%;
		    margin: 10px 0 1.168rem 0;
	    }
    }